@model MovieCategorySearch.ViewModels.MovieListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Movie" asp-action="Index" method="get">
    <p>

        @* <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select> *@

        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieList![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieList![0].Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var item in Model.MovieList!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        } *@
    </tbody>
</table>